:root {
  --gray: #6b6b6b;
  --primary: #01a3c7;
  --primary__light: #96c1e952;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Plus Jakarta Sans", sans-serif; // replace this with font family
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #0095ef;
}
.container {
  display: flex;
  justify-content: center;
  width: calc(100% - 2em);
  height: calc(100vh - 2em);
  margin: 0 auto;
  max-width: 1440px;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 1em;
  position: relative;
}
.container__main {
  width: calc(100% - 250px - 1.5em);
  height: 100%;
  position: relative;
}
.container__main__content {
  min-height: calc(100vh - 60px - 5.5em);
  overflow: auto;
  // background-color: #fff;
}

.container__sidebar {
  background-color: #ffff;
  padding: 1em 1em;
  border-radius: 10px;
  width: 100%;
  max-height: 100vh;
  max-width: 250px;
  margin-right: 1em;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}
.container__sidebar__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container__main__header {
  height: 60px;
  padding: 0em 1em;
  display: flex;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  margin-bottom: 1em;
}
.container__main__content {
  min-height: calc(100vh - 60px - 3em);

  border-radius: 10px;
}
.container__main__header__title {
  font-size: 18px;
  font-weight: bold;
  color: #444444;
  text-transform: capitalize;
}

.popup__container {
  height: 100%;
  width: 100%;
  position: absolute;
}
.popup__container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01a3c77c;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.popup__container__content {
  height: 500px;
  width: 400px;
  background-color: #ffff;
  border-radius: 20px;
}
.popup__container__content__header {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
  border-bottom: 1px solid #e5e5e5;
}
.popup__container__content__header__left {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #444444;
  svg {
    margin-right: 0.5em;
  }
}
.popup__container__content__header__right button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.popup__container__content__header__right__svg {
  background-color: var(--primary__light);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
