.details__container__content__details {
  display: flex;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  padding: 1em 0em;
  justify-content: space-evenly;
}
.details__container__content__details__entry {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0em 1em;
  transition: all 0.3s ease-in-out;
  border-right: 1px solid #a5a5a5;
}
.details__container__content__details__entry:last-child {
  border-right: none;
}
.details__container__content__details__entry:first-child
  .details__container__content__details__entry__title {
  color: var(--primary);
}
.details__container__content__details__entry__title {
  color: #444444;
  font-weight: bold;
  font-size: 18px;
}
.details__container__content__details__entry__subtitle {
  color: #8d8d8d;
  font-size: 14px;
  font-weight: bold;
}
.details__container__content__batch__main {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  margin: 1em 0em;
  border-radius: 10px;
  border: 1px solid #a5a5a5;
}
.details__container__content__batch__main :last-child {
  border-right: none;
}
.details__container__content__entry__haading__entry {
  margin: 6px 0px;
}
.details__container__content__batch__wraper {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em;
  margin: 1em 0em;
  border-right: 1px solid #a5a5a5;
}
.details__container__content__entry__wraper {
  display: flex;
  justify-content: flex-start;
}
.details__container__content__batch__wraper__heading {
  font-size: 16px;
  font-weight: bold;
  color: #01a3c7;
  margin-bottom: 0.4em;
}
.details__container__content__entry__haading {
  font-size: 14px;
  font-weight: bold;
  color: #817e7e;
  min-width: 100px;
  display: flex;
  flex-direction: column;
}
.details__container__content__entry__subhaading__entry {
  font-size: 14px;
  font-weight: bold;
  color: #181717;
  min-width: 100px;
  display: flex;
  flex-direction: column;
  margin: 6px 0px;
}
@media (max-width: 1000px) {
  .details__container__content__batch__wraper {
    border: none;
  }
}
